@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&family=Shrikhand&display=swap");
/* Global */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a:link {
  text-decoration: none;
}

body {
  max-width: 100%;
  width: 100%;
  margin: auto;
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  margin-right: 20px;
  line-height: 20px;
}

#loading {
  width: 100px;
  height: 100px;
  border: 5px solid #99E2D0;
  border-top-color: #9356DC;
  border-radius: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: round 2s linear;
          animation: round 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 1;
  }
  90% {
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 1;
  }
  90% {
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.page {
  -webkit-animation: page 2s;
          animation: page 2s;
}

@-webkit-keyframes page {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  padding-left: 20px;
  color: black;
}

#logo {
  width: 100%;
  padding: 20px;
}

#logo img {
  width: 50%;
  margin: auto;
  padding: auto;
  display: block;
}

/* Top page */
.container {
  background: #F2F2F2;
  padding-bottom: 30px;
}

/* Recherche */
.search {
  font-family: Roboto, FontAwesome, 'Material Icons';
}

#search {
  position: relative;
  background: #e2dedee5;
  border-top: 5px solid #a1a1a1a4;
  margin-bottom: 40px;
}

#search input {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  margin: 0 auto 0 auto;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#search input::-webkit-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input:-ms-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input::-ms-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input::placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

/* Réservation */
.reserve h1 {
  padding-bottom: 15px;
}

.reserve p {
  padding-bottom: 15px;
  color: grey;
  font-size: 1.5em;
}

.reserve {
  text-align: center;
  line-height: 2em;
}

.reserve .explore {
  padding: 15px 30px 15px 30px;
  color: white;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  margin: 20px;
}

.reserve .explore:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.9;
}

/* Fonctionnement */
#use {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

#use h2 {
  font-size: 1.8em;
}

#use button {
  width: 350px;
  background-color: #F2F2F2;
  font-weight: bold;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 25px auto;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px #d7dad6dc;
          box-shadow: 0 5px 10px #d7dad6dc;
  padding: 20px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#use button:hover {
  opacity: 0.8;
}

#use button span {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 0.3em 0.5em;
  color: white;
  margin: 0 20px 0 -30px;
  font-size: 0.8em;
}

#use button i {
  padding: 8px;
  margin-right: 20px;
  color: #a7a6a6;
}

#use button i.active {
  color: #9356DC;
}

/* Restaurant - Section */
section {
  background-color: #F2F2F2;
  margin-bottom: 40px;
  width: 100%;
}

section h2 {
  padding-top: 60px;
  font-size: 1.8em;
}

section .element {
  -webkit-box-shadow: 0 10px 20px #858685dc;
          box-shadow: 0 10px 20px #858685dc;
  border-radius: 20px;
  color: black;
  margin: 20px 20px 20px 20px;
  height: 300px;
}

section .element:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 15px 30px #858685dc;
          box-shadow: 0 15px 30px #858685dc;
}

section .element img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 100%;
     object-position: center 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

section .element span {
  position: absolute;
  margin-left: -100px;
  margin-top: 20px;
  background-color: #8feec2;
  padding: 8px;
  color: #589b7c;
}

section .element .description {
  padding: 15px 20px 10px 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5em;
  font-size: 1.2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
}

section .element .description h3 {
  font-weight: bold;
}

section .element .description:link {
  text-decoration: none;
  color: black;
}

section .element i {
  position: absolute;
  right: 0;
  padding-right: 55px;
  margin-top: -20px;
  font-size: 1.4em;
}

section .element i.inactive {
  opacity: 0;
}

section .element i.inactive:hover {
  -webkit-animation-name: heart;
          animation-name: heart;
  color: #9356DC;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

section .element i.active {
  color: #9356DC;
}

@-webkit-keyframes heart {
  0% {
    opacity: .1;
  }
  17% {
    opacity: .2;
  }
  24% {
    opacity: .4;
  }
  46% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: .1;
  }
  17% {
    opacity: .2;
  }
  24% {
    opacity: .4;
  }
  46% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  padding: 20px;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  padding: 20px;
  display: block;
  color: white;
  margin-top: 10px;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 20%;
  padding-bottom: 10px;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  text-decoration: none;
  color: white;
}

footer a i {
  width: 2%;
}

footer a span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
}

/* Article */
.images {
  height: 230px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 80%;
     object-position: center 80%;
}

.lign {
  margin: -10px 0 0 20px;
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  border: none;
  padding: 0;
}

.starters {
  -webkit-animation: starters 200ms;
          animation: starters 200ms;
}

@-webkit-keyframes starters {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes starters {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.dishes {
  -webkit-animation: dishes 500ms;
          animation: dishes 500ms;
}

@-webkit-keyframes dishes {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes dishes {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.desserts {
  -webkit-animation: desserts 1000ms;
          animation: desserts 1000ms;
}

@-webkit-keyframes desserts {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes desserts {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

article {
  position: relative;
  margin-top: -40px;
  background-color: #F2F2F2;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

article h1 {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shrikhand',sans-serif;
  font-size: 1.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article h1 i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  right: 0;
  margin-right: 50px;
}

article h2 {
  color: grey;
  font-size: 1.3em;
}

article .element {
  background: #ffffff;
  margin: 20px 10px 20px 10px;
  -webkit-box-shadow: 0 10px 20px #858685dc;
          box-shadow: 0 10px 20px #858685dc;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: element;
          animation-name: element;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

article .element:hover {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 15px 30px #858685dc;
          box-shadow: 0 15px 30px #858685dc;
}

article .element .describe {
  width: 100%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

article .element .describe .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

article .element .describe .price {
  margin-top: 15px;
  padding: 5px;
}

article .element .describe h3, article .element .describe p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

article .element :hover + .box {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #99e2d0;
}

article .element :hover + .box span {
  -webkit-transform: translateY(0) rotate(360deg);
          transform: translateY(0) rotate(360deg);
  margin: 15px 20px 0 10px;
}

.box {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 2000ms ease-out;
  transition: -webkit-transform 2000ms ease-out;
  transition: transform 2000ms ease-out;
  transition: transform 2000ms ease-out, -webkit-transform 2000ms ease-out;
  overflow: hidden;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box span {
  display: inline-block;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 200ms ease-out 50ms;
  transition: -webkit-transform 200ms ease-out 50ms;
  transition: transform 200ms ease-out 50ms;
  transition: transform 200ms ease-out 50ms, -webkit-transform 200ms ease-out 50ms;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@-webkit-keyframes element {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes element {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: .1;
  }
  20% {
    opacity: .1;
  }
  40% {
    opacity: .2;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */