@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Shrikhand&display=swap");
/* Global */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  margin-right: 20px;
  line-height: 20px;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  padding-left: 20px;
  color: black;
}

#logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* Top page */
.container {
  background: #F2F2F2;
  padding-bottom: 30px;
}

/* Recherche */
.search {
  font-family: Roboto, FontAwesome, 'Material Icons';
}

#search {
  position: relative;
  background: #e2dedee5;
  border-top: 5px solid #a1a1a1a4;
  margin-bottom: 40px;
}

#search input {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  margin: 0 auto 0 auto;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#search input::-webkit-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input:-ms-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input::-ms-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input::placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

/* Réservation */
.reserve h1 {
  padding-bottom: 15px;
}

.reserve p {
  padding-bottom: 15px;
  color: grey;
  font-size: 1.5em;
}

.reserve {
  text-align: center;
  line-height: 2em;
}

.reserve .explore {
  padding: 15px 30px 15px 30px;
  color: white;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  margin: 20px;
}

.reserve .explore:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* Fonctionnement */
#use {
  margin-top: 20px;
  margin-bottom: 20px;
}

#use {
  padding-bottom: 25px;
}

#use button {
  width: 350px;
  background-color: #F2F2F2;
  font-weight: bold;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 25px auto;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px #d7dad6dc;
          box-shadow: 0 5px 10px #d7dad6dc;
  padding: 20px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#use button span {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 0.3em 0.5em;
  color: white;
  margin: 0 20px 0 -30px;
  font-size: 0.8em;
}

#use button i {
  padding: 8px;
  margin-right: 20px;
  color: #a7a6a6;
}

#use button i.active {
  color: #9356DC;
}

/* Restaurant - Section */
section {
  background-color: #F2F2F2;
  margin-bottom: 40px;
  width: 100%;
}

section h2 {
  padding-top: 60px;
}

section .element {
  -webkit-box-shadow: 0 10px 20px #858685dc;
          box-shadow: 0 10px 20px #858685dc;
  border-radius: 20px;
  color: black;
  margin: 20px 10px 20px 10px;
  height: 200px;
}

section .element img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

section .element span {
  position: absolute;
  margin-left: -100px;
  margin-top: 20px;
  background-color: #8feec2;
  padding: 8px;
  color: #589b7c;
}

section .element .description {
  padding: 7px 20px 0 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
}

section .element .description:link {
  text-decoration: none;
  color: black;
}

section .element i {
  position: absolute;
  right: 0;
  padding-right: 25px;
  font-size: 1.3em;
}

section .element i.active {
  color: #9356DC;
}

h2 {
  padding: 20px;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  padding: 20px;
  display: block;
  color: white;
  margin-top: 10px;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 20%;
  padding-bottom: 10px;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  text-decoration: none;
  color: white;
}

footer a i {
  width: 2%;
}

footer a span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
}

/* Article */
.images {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

article {
  background-color: #F2F2F2;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

article h1 {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shrikhand',sans-serif;
  font-size: 1.9em;
}

article h1 i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  right: 0;
  margin-right: 50px;
}

article h2 {
  color: grey;
  font-size: 1.3em;
}

article .element {
  background: #ffffff;
  margin: 20px 10px 20px 10px;
  -webkit-box-shadow: 0 10px 20px #858685dc;
          box-shadow: 0 10px 20px #858685dc;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .element .describe {
  width: 100%;
  margin: 10px;
}

article .element :hover + .box {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #b9dbb9;
}

article .element :hover + .box span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  margin: 15px 20px 0 10px;
}

.box {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box span {
  display: inline-block;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 300ms ease-out 100ms;
  transition: -webkit-transform 300ms ease-out 100ms;
  transition: transform 300ms ease-out 100ms;
  transition: transform 300ms ease-out 100ms, -webkit-transform 300ms ease-out 100ms;
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=style.css.map */