@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reserve h1 {
  padding-bottom: 15px;
}

.reserve p {
  padding-bottom: 15px;
  color: grey;
  font-size: 1.5em;
}

#use {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search {
  font-family: Roboto, FontAwesome, 'Material Icons';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  padding-left: 20px;
  color: black;
}

.reserve {
  text-align: center;
  line-height: 2em;
}

.reserve .explore {
  padding: 15px 30px 15px 30px;
  color: white;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  margin: 20px;
}

.reserve .explore:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container {
  background: #F2F2F2;
  padding-bottom: 30px;
}

body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  margin-right: 20px;
  line-height: 20px;
}

#use button {
  width: 350px;
  background-color: #F2F2F2;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  margin: 10px auto 10px auto;
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 20px #aaafa8dc;
          box-shadow: 0 10px 20px #aaafa8dc;
  padding: 15px;
  border: 1px solid #ccc;
}

#use button span {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 0.2em 0.4em;
  color: white;
  margin: 0 20px 0 -80px;
}

#search {
  position: relative;
  background: #e2dedee5;
  border-top: 5px solid #a1a1a1a4;
  margin-bottom: 40px;
}

#search input {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  margin: 0 auto 0 auto;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#search input::-webkit-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input:-ms-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input::-ms-input-placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#search input::placeholder {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #666464;
}

#logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

section {
  background-color: #F2F2F2;
  margin-bottom: 40px;
  width: 100%;
}

section .element {
  -webkit-box-shadow: 0 10px 20px #858685dc;
          box-shadow: 0 10px 20px #858685dc;
  border-radius: 20px;
  color: black;
  margin: 20px 10px 20px 10px;
  height: 200px;
}

section .element #description {
  padding: 7px 20px 0 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
}

section .element i {
  position: absolute;
  right: 0;
  padding-right: 25px;
  font-size: 1.3em;
}

section .element i.active {
  color: #9356DC;
}

h2 {
  padding: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  padding: 20px;
  display: block;
  color: white;
  margin-top: 10px;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 20%;
  padding-bottom: 10px;
}

footer a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
}

footer a i {
  padding-right: 8px;
}

a:link {
  text-decoration: none;
}

article .element {
  background: #b83232;
  margin: 20px 10px 20px 10px;
  border-radius: 20px;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */