
$primary-color:#9356DC;
$second-color:#FF79DA;
$third-color:#99E2D0;
$background:#e2dedee5;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&family=Shrikhand&display=swap');

/* Fonctionnement */
/* Only DESKTOP */
#use{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    h2{
        font-size: 1.8em;
    }
    button{
        width: 23%;
        /* Only DESKTOP */
        
        }
}
/* Only DESKTOP */
#restaurants{
    display: flex;
}
/* Only DESKTOP */