@import "../variables/variables";
/* Fonctionnement */

#use{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    h2{
        font-size: 2em;
        float: top;
        margin-top: -20px;
    }
    .button_use{
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        button{
            width: 28%;
        }
        font-size: 1.2em;
        padding: 20px;
        span{
        font-size: 1.2em;       
        }
        i{
            padding: 8px;
            font-size: 30px !important;
            margin-right: 10px;
        }
    }
}
.reserve{
    padding: 20px;
    .explore{
        padding: 25px 30px 25px 30px;
        font-size: 2.5em;
        margin: 20px;
    }
    .title{
        flex:1;
    }
}
section{
    margin-top: -30px;
    .element{
        span{
            margin-left: -120px;
        }
    }
}
#restaurants{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    i{
        position: relative;
        float: right;
    }
}
article{
    .starters, .dishes, .desserts{
    display: flex;
    .element{
        width: 30%;
        height: 100px;
        h3{
            font-size: 1.2em;
        }
        p{
            font-size: 1.2em;
        }
    }
    }
}
span {
    transition: transform 200ms ease-out 100ms;
    font-size: 20px;       
}
footer{
    display: flex;
    flex-direction: row;
    img{
    width: 20%;
    padding-right: 50px;
    }
    a{
        margin-left: 40px;
    }
    padding: 20px 0 20px 20px;
}
